/*Comment Input*/
#comments-input-box{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 30px;
    padding-left: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    border-radius: 20px;
    background-color: rgb(3, 3, 27);
    width: 47vw;
    gap: 1rem;
}
.comment-form .form-field {
    display: flex !important;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}
#comments li{
    display: inline-block;
}
#comments h3{
    margin-bottom: 5%;
    padding: 0;
}
#comments #submit-btn{
    position: relative;
    top: 1rem;
    margin-left: 1rem;
    width: 9vw;
    align-self: flex-start;
    background-color: rgb(59, 59, 85) !important;
    transition: .2s ease-in-out;
}
#comments .btn:hover{
    background-color: rgb(28, 28, 48) !important;
    border-color: white;
    transform: scale(1.1);
}
#comments h3{
    margin-bottom: .5rem;
}
#message-input{
    width: 20vw;
    height: 2.5rem;
    border-width: 110%;
    padding-left: 10px;
    border-radius: 3px;
}
#name-input{
    width: 10vw;
    height: 2.5rem;
    padding-left: 10px;
    border-radius: 3px;
}
.plz{
    position: relative;
    top: 15px;
}

/*Prev and Next button*/
.pagination-container{
    height: 100%;
    width: 100%;
    padding-top: 3rem;
    padding-right: 12rem;
    display: flex;
    justify-content: flex-end;
}
.pagination {
    display: flex;
    align-items: center;
    width: 55px;
    gap: 1rem;
}
.pagination #page-info{
    white-space: nowrap;
    margin-top: 25%;
}
.pagination #next-btn{
    margin: 0;
}
.pagination #prev-btn{
    margin: 0;
}
.pagination .btn {
    width: 200%;
    background-color: rgb(3, 3, 27);
}


/*Comment Section*/
.comment-section{
    margin-top: 20px;
}
.comment-section ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
    padding: 0;
}
.comment{
    width: 80vw;
    height: auto;
    background-color: rgb(59, 59, 85) ;
    border-radius: 15px;
    border: 8px solid black;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-right: 15px;
}
.comment-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.comment-header p{
    position: relative;
    top: 5px;
    color: white;
}
.comment h4{
    position: relative;
    top: 5px;
    margin: 0;
    color: rgb(167, 167, 167);
}
.comment h2{
    position: relative;
    top: 7px;
    margin: 0;
    color: white;
}

