/*HOME*/

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}
.home .home-container{ 
   display: flex;
   justify-content: center;
   width: 100%;
   gap: 10rem;
}
.bao-img{
    width: 30vw;
    border-radius: 35%;
    border-width: 2px;
}

.info-box{
    display: flex;
    flex-direction: column;
}

.info-box .btn-group{
    margin-top: 15px;
}


/*HOME: Social Links */
.socials{
    display: flex;
    position: relative;
    top: 20px;
    align-items: center;
    gap: 5px;
    padding-bottom: 0;
}
.socials img{
    width: 50px;
    border-radius: 8px;
}
.socials a{
   text-decoration: none;
}

.spotify-icon img{
   width: 52px;
}

.gmail-icon img{
    background-color: white;
}

.lastfm{
    position: relative;
    top: 30px;
}
.lastfm img {
    position: relative;
    top: 20px;
    width: 100rem ;
    max-width: 600px;
    height: auto ;
}
