/*HOME*/

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}
.home .home-container{ 
   display: flex;
   justify-content: center;
   width: 100%;
   gap: 10rem;
}
.bao-img{
    width: 30vw;
    border-radius: 35%;
    border-width: 2px;
}

.info-box{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2rem;
}
.info-box .btn-group{
    position: relative;
    top: 15px;
}
.info-box .text h2{
    margin-top: .5rem !important;
}

/*HOME: Social Links */
.socials{
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    gap: 5px;
    padding-bottom: 0;
}
.socials img{
    width: 3rem;
    border-radius: 8px;
}
.socials a{
   text-decoration: none;
}

.spotify-icon img{
   width: 52px;
}

.gmail-icon img{
    background-color: white;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

.lastfm{
    margin-top: 1rem;
}
.lastfm img {
  width: 62.5rem !important;
  max-width: 37.5rem !important;
  height: auto !important;
  margin-top: 1.5rem;
}
