@media(max-width: 1280px){
    /*HOME*/
    .home .home-container{
        flex-wrap: wrap;      
        gap: 7rem;
        width: 100%;
    }
    .bao-img{
        width: 30vw;
        object-fit: cover;
    }
    .lastfm img{
        width: 35vw !important;
    }
    .info-box{
        max-width: 100%;
    }

    /*ABOUT*/
    .about-imgs img{
        height: 5rem;
        width: 5rem;
    }
    .about-imgs ul{
        grid-template-columns: repeat(3, max-content);
        padding: 0;
        gap: 1rem 0;
    }
    .about-imgs a{
        padding: 1rem;
    }

}

@media(max-width: 768px){
    
}

@media(max-width: 600px){
    
}